<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true"
         processIsolation="false" stopOnFailure="false" bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd" cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <coverage>
        <report>
            <clover outputFile="./reports/clover.xml"/>
            <html outputDirectory="./reports" lowUpperBound="35" highLowerBound="90"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="App Status Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="./reports/junit.xml"/>
    </logging>
    <php>
        <!-- E_ALL = 30719 -->
        <ini name="error_reporting" value="30719"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/DependencyInjection</directory>
            <directory>src/Resources</directory>
            <directory suffix="Bundle.php">src/*Bundle</directory>
        </exclude>
    </source>
</phpunit>
